@using RecipeBook.Domain.Entities
@using RecipeBook.WebUI.Controllers
@model RecipeBook.WebUI.Models.RecipeListViewModel


@{
    ViewBag.Title = "Recipes";
}
<style>
    #container{
        display:flex;
        align-items:flex-start;
        flex:2,0,auto;
    }
    #categories{
        width:220px;

    }
</style>
<div id="container" class="row panel">

    <div id="categories" class="col-xs-3">
        @Html.Action("Menu", "Nav")
    </div>

    <div class="col-xs-8">
        
        @foreach (var r in Model.Recipes)
        {
            @Html.Partial("RecipeSummary", r)
        }
        <div class="text-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, cuisine = Model.CurrentCuisine }))
        </div>
    </div>
</div>